body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #d6dbe1
}

h1, h2, h3, h4 {
  margin:.6em auto;
}

.button {
  border-radius: 15rem;
  border: none;
  background: #ffc400;
  color:white;
  font-size: 1em;
  padding:8px 12px;
}

.button:hover {
  background: #d2a307;
  cursor: pointer;
}


/*#ffc400*/

.dash-wrapper {
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-flex-flow: row wrap;
flex-flow: row wrap;

}

.dash-header {
  background: #eeeeee;
  flex: 1 100%;
  color: #cfd7dc;
}

.dash-main {
  text-align: left;
  flex: 1 0;
  min-height: 900px;
  position: relative;
}
.map-holder {
  position: relative;
  width:100%;
  height:450px;
}

.dash-left {
  background: #2f2f2f;
  flex: 0 0;
  min-width: 270px;
  padding:12px;
  color:#888888
}

.profile-image{
  height:80px;
  width:80px;
  margin:12px auto;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dash-right {
  flex: 1 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  color:#888888
}

.dash-right > * {
  padding:12px;
}

.dash-users {
  background:#eeeeee;
  border-top:solid #d8d8d8 1px;
  min-width: 270px;
}

.dash-users a {
  color:gray;
  text-decoration: none;
}

.dash-users a:hover {
  color:#a7a7a7;
  text-decoration: none;
}

.dash-main-head {
  border-bottom: #ababab solid 1px;
}

.logo, .avatar {
  border-bottom: black solid 1px;
  padding-bottom: 12px;
}

.avatar {
  text-align: center;
}

.left-nav {
  border-bottom: black solid 1px;
  padding-bottom: 12px;
  text-align: left;
}

.left-nav li {
  margin: 5px auto;
}

.left-nav a {
  color: white;
  text-decoration: none;
}
.left-nav a:hover {
  color: #ffc400;
}

.project-container {
  margin-top: 30px;
}

.project-item, .user-item {
  display: flex;
  align-items: center;
}

.project-item {
  background: #e5e5e8;
  box-sizing: border-box;
  padding:4px;
}

.project-members {
  text-align: center;
}

.project-item > * {
  padding: 10px;
}

.project-item:nth-child(odd) {
  background: #FFF;
}

.user-item {
  margin-bottom: .9em;
}

.user-info {
  padding-left: 1em;
  box-sizing: border-box;
}

.user-info h4 {
  margin:.2em auto;
}

.user-info h3 {
  margin:.3em auto;
}

.small-avatar {
  height:40px;
  width:40px;
  border: solid gray 3px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.user-profile-container {

  padding:12px;

}
.user-profile-info {
  display: flex;
  background-color: white;
  margin-bottom: 12px;
}

.user-profile-info .profile-image{
  height:150px;
  width:175px;
  margin:12px;
  border: solid gray 5px;
}

.profile-mid {
  padding:0 12px;
  border-right:solid gray 1px;
}
.profile-right {
  padding:0 12px;
}
