@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,600,700');

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #d6dbe1;
  background-image: url("images/gradient-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background:linear-gradient(135deg, rgb(215, 230, 255) 0%, #edefdc 50%, #eaefdc 55%, rgb(217, 227, 255) 100%);
}

body:before {
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    width: 587px;
    height: 705px;
    background: url("images/right_top.png") no-repeat left top;
}

.bg-filter {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -1;
  min-height: 100vh;
}

.bg-filter:before {
    content: "";
    right: 0;
    bottom: 0;
    position: absolute;
    width: 467px;
    height: 610px;
    background: url("images/right_bottom.png") no-repeat left top;
}

.bg-filter:after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 472px;
    height: 354px;
    background: url("images/left_bottom.png") no-repeat left top;
    z-index: -1;
}

h1, h2, h3, h4 {
  margin:.6em auto;
  font-weight:400;
}

input, textarea {
  border-radius: 10rem;
  padding:5px;
  box-sizing: border-box;
}

input[type="text"], textarea {
  border:solid #cacaca 1px;
}

.button {
  border-radius: 10rem;
  border: none;
  background: #ffc400;
  color:white;
  font-size: 1em;
  padding:5px 12px;
  background: #f3df2d; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(16deg, #ead834 0%,#ffc400 54%,#d6ab1b 100%);
  transition: all 0.75s ease-in-out;
}
a.button {
  text-decoration: none;

}

a {
  transition: all 0.2s ease-in-out;
}


.deactive {
  background:gray;
}

.button:hover {
  background: linear-gradient(16deg, #d6ab1b 0%,#ffc400 54%,#ead834 100%);
  cursor: pointer;
}

.deactive:hover {
  background:gray;
}


/*#ffc400*/

.dash-wrapper {
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-flex-flow: row wrap;
flex-flow: row wrap;

}

.dash-header {
  background: rgba(255, 255, 255, 0.43);
  flex: 1 100%;
  color: #cfd7dc;
}


.head-menu {
  display: flex;
  align-items: center;
}
.menu-left {
float:left;
}

.menu-right {
  float:right;
}
.head-menu > * {
  float:left;
  margin: 0 10px;
}
.ghost-mode > * {
  float:left;
  margin: 0 9px;
}
.ghost-mode p{
  display: inline-block;
  margin:0 18px;
}

.ghost-mode {
  display: inline-block;
  margin-right:40px;
}


div.dash-main {
  text-align: left;
  flex: 1 0;
  position: relative;
  padding:30px;
  min-height: 90vh;
}
.map-holder {
  position: relative;
  width:100%;
  height:450px;
}

.dash-left {
  background: rgba(117, 136, 140, 0.68);
  flex: 0 0;
  min-width: 270px;
  padding:12px;
  color:#fff
}

.profile-image{
  height:80px;
  width:80px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dash-right {
  flex: 1 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  color:#4c5f99
}

.dash-right > * {
  padding:12px;
}

.dash-users {
  border-left:solid white 3px;
  min-width: 270px;
}

.dash-users a {
  color:gray;
  text-decoration: none;
}

.dash-users a:hover {
  color:#a7a7a7;
  text-decoration: none;
}

.dash-main-head {
  border-bottom: #ababab solid 1px;
  margin-bottom:25px;
}

.dash-main-head h2 {
  margin-top:0
}

.logo, .avatar {
  border-bottom: black solid 1px;
  padding-bottom: 12px;
}

.avatar {
  text-align: center;
}

.avatar .profile-image {
  margin:12px auto;
}

.left-nav {
  border-bottom: black solid 1px;
  padding-bottom: 12px;
  text-align: left;
}

.left-nav li {
  margin: 5px auto;
}

.left-nav a {
  color: white;
  text-decoration: none;
}
.left-nav a:hover {
  color: #ffc400;
}

.project-container {
  margin-top: 30px;
  height:500px;
  overflow-y: scroll;
}

.my-projects .project-item button {
  display:none;
}

.project-item, .user-item {
  display: flex;
  align-items: center;
}

.project-item {
  background: #e5e5e8;
  box-sizing: border-box;
  padding:4px;
  border-radius: .5rem;
  margin-bottom:12px;
  background: linear-gradient(55deg, rgb(234, 243, 191) 0%, rgb(255, 255, 255) 23%, rgb(255, 255, 255) 100%);
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.project-item a {
  color: #b3b3b3;
  text-decoration: none;
}

.project-item a:hover {
  color: #ffc400;
}

.project-item h2 {
  display:inline-block;
}

.project-members {
  text-align: center;
}

.project-item > * {
  padding: 10px;
}

.project-info {
  flex: 1 0;
}

.project-info h2 {
  margin: 0 
}

.project-item:nth-child(odd) {
  background: #FFF;
  background: linear-gradient(55deg, rgb(224, 230, 239) 0%, rgb(255, 255, 255) 23%, rgb(255, 255, 255) 100%);
}

.user-item {
  margin-bottom: .9em;
  border-radius: 2rem;
  padding:3px;
  padding-left:8px;
  background: white;
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.user-info {
  padding-left: 1em;
  box-sizing: border-box;
}

.user-info h4 {
  margin:.2em auto;
}

.user-info h3 {
  margin:.3em auto;
}

.small-avatar {
  height:40px;
  width:40px;
  border: solid gray 3px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.user-profile-container {
  padding:12px;
}

.user-profile-info {
  display: flex;
  background-color: white;
  margin-bottom: 12px;
  padding:20px 10px;
  border-radius:.5rem;
  background: linear-gradient(55deg, #eaf3bf 0%,#ffffff 23%,#ffffff 100%);
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.user-profile-info .profile-image{
  height:150px;
  width:150px;

}

.user-profile-info .profile-image-border{
  display: inline-block;
  height:150px;
  width:150px;
  border-radius: 500rem;
  padding:7px;
  margin:12px;
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%);
  background: linear-gradient(16deg, #ef8c68 0%, rgb(255, 196, 0) 54%, #d6ab1b 100%);
}

.profile-mid {
  padding:0 12px;
  border-right:solid gray 1px;
  flex: 1 0;
}

.profile-mid h2 {
  margin: 5px auto;
}
.profile-mid h4 {
  margin: 5px auto;
  color:gray;
}

.profile-right {
  padding:0 12px;
}
.profile-projects {
  height:525px;
  overflow-y:auto;
}

.header-link {
  text-decoration: none;
  font-size: .7em;
  font-weight:normal;
}

.header-link a {
  text-decoration: none;
  font-weight:normal;
  letter-spacing: 1px;
}
.skill-item {
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.59);
  display: inline-block;
  border-radius: 10px;
  margin-right: 3px;
  border: #cacaca solid 1px;
  position: relative;
  cursor: default;
}
.skill-item span {
  position:absolute;
  top:-18px;
  left:0;
  text-align: center;
  cursor: pointer;
  font-size:.7em;

  padding-bottom:3px;
  display: none;
  width:100%;
}

.skill-item span:hover {
  color:#bbbbbb;
  display: block;
}

.skill-item:hover span {
  display: block;
}

.skills-list {
  margin: 12px auto 48px auto;
}

.skills-form {
  margin-left: 15px;
}

.skills-form input[type="text"]  {
  margin-right: 8px;
}

.skills-head {
  display: inline-flex;
  align-items: baseline;
}

/*Request Page*/

.request-item {
  display:flex;
  align-items: center;
  background-color: white;
  padding:6px 12px;
  margin-bottom: 8px;
  border-radius:2rem;
}

.request-item button {
   margin: 0 4px;
}

.request-item .small-avatar {
  margin-right: 10px;
}

.project-request-info{
  flex: 1 0;
}


/*Project Show Page*/

.user-profile-info .profile-image{
  height:150px;
  width:150px;

}

.project-show-details {
  background:white;
  display:flex;
}

.project-show-details > * {
    width:50%;
    box-sizing: border-box;
    padding:22px;
}

.project-show-goals {
  border-right:solid #e0e0e0 1px;
}

.project-user-item .profile-image-border{
  display: inline-block;
  height:150px;
  width:150px;
  border-radius: 500rem;
  padding:7px;
  margin:12px;
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%);
  background: linear-gradient(16deg, #ef8c68 0%, rgb(255, 196, 0) 54%, #d6ab1b 100%);
}

.large-avatar {
  height:150px;
  width:150px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.project-user-list {
  display:flex;
  text-align: center;
}

/*Edit User Page*/

.edit-wrapper {
  display: flex;
}

.edit-wrapper > * {
  margin: 0 12px;
}

.edit-image-upload {
  display:flex;
}

.edit-image-upload > * {
  margin: 0 12px;
}
/*Project Form*/
.project-form-wrapper {
  display: flex;
}

.project-form-wrapper > * {
  flex:1 0;
}


/*Transistions*/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
