@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500');

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background: #d6dbe1;
  background-image: url("images/gradient-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
  background:linear-gradient(135deg, rgb(215, 230, 255) 0%, #edefdc 50%, #eaefdc 55%, rgb(217, 227, 255) 100%);
}

body:before {
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    width: 587px;
    height: 705px;
    background: url("images/right_top.png") no-repeat left top;
}

.bg-filter {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -1;
  min-height: 100vh;
}

.bg-filter:before {
    content: "";
    right: 0;
    bottom: 0;
    position: absolute;
    width: 467px;
    height: 610px;
    background: url("images/right_bottom.png") no-repeat left top;
}

.bg-filter:after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 472px;
    height: 354px;
    background: url("images/left_bottom.png") no-repeat left top;
    z-index: -1;
}

h1, h2, h3, h4 {
  margin:.6em auto;
  font-weight:400;
}

.logo-text {
    font-family: 'Exo', sans-serif;
    font-weight:100;
}

.no-auth-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 77%,rgba(0,0,0,1) 97%);
}

.no-auth-nav {
  height:50px;
  padding:8px 12px;
  display: flex;
  justify-content: space-between;
}

.no-auth-nav a {
  color:white;
  text-decoration: none;
}

.no-auth-nav .menu-right a {

  display:inline-block;
  width:60px;
}

.no-auth-nav .menu-right a:hover {
  color:#ffc107;
  font-size:1.1em;
}

.login {
  width:400px;
  max-width: 100%;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
    background: url('/assets/food_on_the_table.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}


.form-container {
    position: relative;
    width: 650px;
    max-width: 95%;
    margin: auto;
    width:1100px;
    display:flex;
}

.form-wrapper {
    background: white;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    border-radius: .5rem;
    box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.form-divided {
  display:flex;
  justify-content: space-around;
}

.goal-form {
  display:flex;
  align-items: center;

}

.auth-page h1 {
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.no-auth-nav .logo-text {
    font-family: 'Exo', sans-serif;
    color:white;
    font-size:3em;
}

h1.main {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1em;
}

.form-divided > div {
  flex-grow:1;

}
.form-divided > div:first-child {
  margin-right:1%
}
.form-divided > div:last-child {
  margin-left:1%
}

.signup-submit {
  position: absolute;
  bottom:10px;
  right:130px;
}
.signup-skills-holder > span {
  display: block;
  font-size: .8em;
  margin-bottom: 15px;
  color: #9e9ea1;
}

.signup-skills-holder{
  border:solid 1px lightgray;
  border-radius: .5rem;
  min-height: 71px;
  padding:8px;
  margin: 12px auto;
}


.button {
  border-radius: 10rem;
  border: none;
  background: #ffc400;
  color:white;
  font-size: 1em;
  padding:5px 12px;
  background: #f3df2d; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(16deg, #ead834 0%,#ffc400 54%,#d6ab1b 100%);
  transition: all 0.75s ease-in-out;
}
a.button {
  text-decoration: none;

}

a {
  transition: all 0.2s ease-in-out;
}


.deactive {
  background:gray;
}

.button:hover {
  background: linear-gradient(16deg, #d6ab1b 0%,#ffc400 54%,#ead834 100%);
  cursor: pointer;
}

.deactive:hover {
  background:gray;
}

.splash {
  display: flex;
  padding:4em;
  align-items: center;
  min-height: 70vh;
}

.splash-content {
  color:white;
  margin-left: 6em;
  max-width: 950px;
}

.tagline {
  font-size: 3em;
  letter-spacing: 4px;
}


.slogan {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.splash-buttons {
  font-size: 2em;
}



.divider {
  height:6px;
  margin-top: 60px;
   width:40%;
  background: #f3df2d; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(16deg, #ead834 0%,#ffc400 54%,#d6ab1b 100%);
}

.splash-buttons .button {
  font-size: .8em;
  padding:20px 35px;
  margin-right: 2%;
  border-radius:.8rem;
  letter-spacing: 2px;
  border:#ffc400 3px solid;
  background: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.splash-buttons .button:hover {
  background: #ffc400;
  border:#ffc400 3px solid;
  color:#af8404;
}

.splash-buttons a > * {
  position: relative;
  z-index: 2;
}

a .link-bg {
  background: #f3df2d; /* Old browsers */
  background: -moz-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(16deg, #ead834 0%,#ffc400 54%,#d6ab1b 100%);
  opacity: 0;
  position: absolute;
  width:100%;
  z-index: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: all 0.2s ease-in-out;
}

a:hover .link-bg {
  opacity: 1;
}
/*#ffc400*/

.dash-wrapper {
  display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-flex-flow: row wrap;
flex-flow: row wrap;

}


.head-menu {
  display: flex;
  align-items: center;
}
.menu-left {
float:left;
height: 55px;
}

.menu-right {
  float:right;
}
.head-menu > * {
  float:left;
  margin: 0 10px;
}
.ghost-mode > * {
  float:left;
  margin: 0 9px;
}
.ghost-mode p{
  display: inline-block;
  margin:0 18px;
}

.ghost-mode {
  display: inline-block;
  margin-right:40px;
}


div.dash-main {
  text-align: left;
  flex: 1 0;
  position: relative;
  padding:30px;
  min-height: 90vh;
}
.map-holder {
  position: relative;
  width:100%;
  height:450px;
}

.dash-left {
  background: rgba(28, 52, 58, 0.8);
  flex: 0 0;
  min-width: 294px;
  color:#fff
}

.profile-image{
  height:130px;
  width:130px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dash-right {
  flex: 1 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  color:#4c5f99
}

.dash-right > * {
  padding:12px;
}

.header.dash-header {
  background: rgba(255, 255, 255, 0.43);
  padding:6px;
  flex: 1 100%;
  color: #cfd7dc;
}

.name-menu {
  color:#424345;
  cursor: pointer;
}

.dash-users {
  border-left:solid white 3px;
  min-width: 270px;
}

.dash-users a {
  color:gray;
  text-decoration: none;
}

.dash-users a:hover {
  color:#a7a7a7;
  text-decoration: none;
}

.dash-main-head {
  border-bottom: #ababab solid 1px;
  margin-bottom:25px;
}

.dash-main-head h2 {
  margin-top:0
}

.logo, .avatar {
  border-bottom: rgba(46, 46, 58, 0.38) solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.avatar {
  text-align: center;
}

.avatar h4{
  color:#59768e;
  font-size: .9em;
  margin: 2px 0;
}

.avatar a{
  color:white;
  text-decoration: none;
}


.avatar h3{
  margin-bottom: 2px;
}

.avatar .profile-image {
  margin: auto;
}

.left-nav {
  border-bottom: rgba(46, 46, 58, 0.38) solid 1px;
  text-align: left;
  padding-bottom: 20px;
}

.left-nav a {
  color: #b7cdd8;
  box-sizing: border-box;
  padding:12px 10px 12px 30px;
  display: block;
  text-decoration: none;
  position: relative;
}
.left-nav a > * {
  position: relative;
  z-index: 2;
}

.left-nav i {
  margin-right:10px;
}

.left-nav a:hover {
  color:white;
}

.left-nav a .link-bg {
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%);
  opacity: 0;
  position: absolute;
  width:100%;
  z-index: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: all 0.2s ease-in-out;
}

.left-nav a:hover .link-bg {
  opacity: 1;
}


.left-nav > p {
  font-size: .9em;
  margin-left:30px;
  color:#59768e;
  margin-top: 30px;
}

.project-container {
  margin-top: 30px;
  height:500px;
  overflow-y: scroll;
}



.my-projects .project-item button {
  display:none;
}

.project-item, .user-item {
  display: flex;
  align-items: center;
}

.project-item {
  background: #e5e5e8;
  box-sizing: border-box;
  padding:4px;
  border-radius: .5rem;
  margin-bottom:12px;
  background: linear-gradient(55deg, rgb(234, 243, 191) 0%, rgb(255, 255, 255) 23%, rgb(255, 255, 255) 100%);
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.project-item a {
  color: #b3b3b3;
  text-decoration: none;
}

.project-item a:hover {
  color: #ffc400;
}

.project-item h2 {
  display:inline-block;
}

.project-members {
  text-align: center;
}

.project-button {
  width:150px;
  text-align: center;
}

.project-item > * {
  padding: 10px;
}

.project-info {
  flex: 1 0;
}

.project-info h2 {
  margin: 0
}

.project-item:nth-child(odd) {
  background: #FFF;
  background: linear-gradient(55deg, rgb(224, 230, 239) 0%, rgb(255, 255, 255) 23%, rgb(255, 255, 255) 100%);
}

.user-item {
  margin-bottom: .9em;
  border-radius: 2rem;
  padding:3px;
  padding-left:8px;
  background: white;
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.user-info {
  padding-left: 1em;
  box-sizing: border-box;
}

.user-info h4 {
  margin:.2em auto;
}

.user-info h3 {
  margin:.3em auto;
}

.small-avatar {
  height:40px;
  width:40px;
  border: solid gray 3px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.user-profile-container {
  padding:12px;
}

.user-profile-info {
  display: flex;
  background-color: white;
  margin-bottom: 12px;
  padding:20px 10px;
  border-radius:.5rem;
  background: linear-gradient(55deg, #eaf3bf 0%,#ffffff 23%,#ffffff 100%);
  box-shadow: 0px 16px 25px 0px rgba(118, 88, 198, 0.1);
}

.user-profile-info .profile-image{
  height:150px;
  width:150px;

}

.user-profile-info .profile-image-border{
  display: inline-block;
  height:150px;
  width:150px;
  border-radius: 500rem;
  padding:7px;
  margin:12px;
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%);
  background: linear-gradient(16deg, #ef8c68 0%, rgb(255, 196, 0) 54%, #d6ab1b 100%);
}

.profile-projects > span{
  margin-top: 25px;
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.project-preview-item {
  width:380px;
  background:white;
  border-radius:.5rem;
  box-shadow: 0px 13px 25px 0px rgba(118, 88, 198, 0.1);
  margin-bottom:20px;
}
.project-preview-bottom {
  padding:12px;
  display:flex;
}

.project-preview-top {
  height:175px;
  border-radius: .5rem .5rem 0 0;
  width:100%;
  background-image: url("images/default-project.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.profile-mid {
  padding:0 12px;
  border-right:solid gray 1px;
  flex: 1 0;
}

.profile-mid h2 {
  margin: 5px auto;
}
.profile-mid h4 {
  margin: 5px auto;
  color:gray;
}

.profile-right {
  padding:0 12px;
}
.profile-projects {
  height:525px;
  overflow-y:auto;
}

.header-link {
  text-decoration: none;
  font-size: .7em;
  font-weight:normal;
}

.header-link a {
  text-decoration: none;
  font-weight:normal;
  letter-spacing: 1px;
}
.skill-item {
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.59);
  display: inline-block;
  border-radius: 10px;
  margin-right: 3px;
  border: #cacaca solid 1px;
  position: relative;
  cursor: default;
}
.skill-item span {
  position:absolute;
  top:-18px;
  left:0;
  text-align: center;
  cursor: pointer;
  font-size:.7em;

  padding-bottom:3px;
  display: none;
  width:100%;
}

.skill-item span:hover {
  color:#bbbbbb;
  display: block;
}

.skill-item:hover span {
  display: block;
}

.skills-list {
  margin: 12px auto 48px auto;
}

.skills-form {
  margin-left: 15px;
}

.skills-form input[type="text"]  {
  margin-right: 8px;
}

.skills-head {
  display: inline-flex;
  align-items: baseline;
}

/*Request Page*/

.request-item {
  display:flex;
  align-items: center;
  background-color: white;
  padding:6px 12px;
  margin-bottom: 8px;
  border-radius:2rem;
}

.request-item button {
   margin: 0 4px;
}

.request-item .small-avatar {
  margin-right: 10px;
}

.project-request-info{
  flex: 1 0;
}


/*Project Show Page*/

.user-profile-info .profile-image{
  height:150px;
  width:150px;

}

.project-show-details {
  background:white;
  display:flex;
}

.project-show-details > * {
    width:50%;
    box-sizing: border-box;
    padding:22px;
}

.project-show-goals {
  border-right:solid #e0e0e0 1px;
}

.project-user-item .profile-image-border{
  display: inline-block;
  height:150px;
  width:150px;
  border-radius: 500rem;
  padding:7px;
  margin:12px;
  background: linear-gradient(45deg, #c3d84d 0%,#4bd483 73%,#39d6d1 100%);
  background: linear-gradient(16deg, #ef8c68 0%, rgb(255, 196, 0) 54%, #d6ab1b 100%);
}

.large-avatar {
  height:150px;
  width:150px;
  border-radius: 500rem;
  background-image: url("images/default-user.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.project-user-list {
  display:flex;
  text-align: center;
}

/*Edit User Page*/

.edit-wrapper {
  display: flex;
}

.edit-wrapper > * {
  margin: 0 12px;
}

.edit-image-upload {
  display:flex;
}

.edit-image-upload > * {
  margin: 0 12px;
}

/*Project Form*/
.project-form-wrapper {
  display: flex;
}

.project-form-wrapper > * {
  flex:1 0;
}

.project-image-preview {
  height:200px;
  width:200px;
  background-image: url("images/default-project.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*Goals*/

.goal-el span {
  font-size:.7em;
  cursor:pointer;
}

.goal-el span:hover {
  font-size:.7em;
  color:yellow;
}
